@import "variables/colors";
@import "variables/sizes";
@import "variables/typography";
@import "mixins/breakpoints";

.App {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-image: url("../hoya-plant.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 110% 0%;
  background-size: 125px 218px;

  @include xs {
    background-position: 102% 0%;
  }
}

.site-content {
  @include themed() {
    color: t($text);
    background: t($bg);
  }

  flex-grow: 1;
  flex-shrink: 0;
  margin: $spacing-md $spacing-lg;
  padding: $spacing-sm;

  @include xs {
    margin: $spacing-xl $spacing-xxl;
  }
}

.test {
  font-size: $font-size-lg;
}
