@import "variables/colors";
@import "variables/sizes";
@import "variables/typography";

.App {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-image: url("../hoya-plant.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 102% 0%;
  background-size: 125px 218px;
}

.site-content {
  @include themed() {
    color: t($text);
    background: t($bg);
  }

  flex-grow: 1;
  flex-shrink: 0;
  margin: $spacing-xl $spacing-xxl;
  padding: $spacing-sm;
}

.test {
  font-size: $font-size-lg;
}
