$bg: "bg";
$text: "text";

$bg--light: #ffffff;
$text--light: #000000;

$bg--dark: #333333;
$text--dark: #25b26f;

$gray-100: #f8f9fa;
$gray-200: #dee2e6;
$gray-300: #ced4da;
$gray-400: #6c757d;
$gray-500: #495057;

$themes: (
  light: (
    bg: $bg--light,
    text: $text--light,
  ),
  dark: (
    bg: $bg--dark,
    text: $text--dark,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
