@import "variables/colors";
@import "variables/typography";
@import "variables/sizes";
@import "mixins/breakpoints";
@import "elements/forms";

.sign-up {
  display: flex;
  flex: 1;
  justify-content: center;
}

.sign-up-form {
  width: 280px;
  padding: $spacing-sm;
}
