@import "variables/colors";
@import "variables/sizes";
@import "variables/typography";

.app-header {
  display: flex;
  padding: $spacing-sm;
  position: relative;

  .app-title {
    margin: 0 0 0 $spacing-sm;
    padding: 0;
    font-weight: 400;
    font-size: $font-size-xxxl;
  }

  &:hover {
    cursor: pointer;
  }

  .hoya-plant {
    width: 125px;
    position: absolute;
    right: -16px;
    top: 0px;
  }
}
